.Link {
    text-decoration: none;
}
.App {
    width: 800px;
    margin-left: 200px;
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(to right bottom, #93a5cf, #e4efe9);
    border-radius: 10px;
}
